/*
 * @file style for footer
 * @author nighca <nighca@live.cn>
 */

@import "~util/index";

.w-footer{
    margin-top: 20px;
    padding: 20px 0;
    height: 40px;

    .about{
        text-align: center;
        font-size: 12px;
        color: #666;
    }
}
