/*
 * @file style for home page
 * @author nighca <nighca@live.cn>
 */

.p-home {
	padding-top: 70px;
	padding-bottom: 10px;

	.addon-block {
    	width: 700px;
    	position: relative;
    	margin: 0 auto;

    	.year-link {
    		font-size: 14px;
			text-decoration: underline;

    		&:hover {
    			color: #000;
    		}
    	}
	}

	.loading-wrapper {
        min-height: 60px;
        margin-top: 80px;
    }
}
