/*
 * @file style for list page
 * @author nighca <nighca@live.cn>
 */

@import "~widget/util/index.less";

.p-list {
    .operation-line, .person-line {
        .center();
        width: 700px;
    }

    .operation-line {
        margin-bottom: 30px;
        text-align: center;

        a {
            margin: 0 20px;
        }
    }

    .person-line {
        padding-top: 20px;
        margin-bottom: 30px;

        font-size: 14px;
        border-top: 1px dashed #eee;
    }
}
