/*
 * @file style for list page
 * @author nighca <nighca@live.cn>
 */

@import "~util/index";

.p-list {
    .operation-line, .person-line {
        .center();
        width: 700px;
    }

    .operation-line {
        margin-bottom: 30px;
        text-align: center;

        a {
            margin: 0 20px;
        }
    }

    .person-line {
        padding-top: 20px;
        margin-bottom: 30px;

        color: #666;
        font-size: 12px;
        border-top: 1px dashed #eee;

        p {
            padding: .3em 0;
        }
    }
}
