/*
 * @file style for task item
 * @author nighca <nighca@live.cn>
 */

@import "~util/index";

.w-task-item {
    position: relative;
    padding-right: 10em;
    padding-bottom: 1.5em;
    line-height: 1.8;
    letter-spacing: .5px;
    transition: .5s;

    &:not(:last-child) {
        margin-bottom: .8em;
    }

    &.no-person {
        .task-person {
            display: none;
        }
    }

    &.no-remove {
        &:hover .op-remove{
            display: none;
        }
    }

    .task-info {
        position: absolute;
        left: 0;
        bottom: 0;

        color: #bbb;
        font-size: 12px;

        .icon {
            position: relative;
            width: .8em;
            height: .8em;
            line-height: .8em;
            margin-right: .2em;
            vertical-align: baseline;
            path {
                fill: #999;
            }
        }
    }

    .task-person {
        margin-left: 1em;
    }

    .task-img-line {
        margin-top: 10px;
        font-size: 0;
        img {
            box-sizing: border-box;
            width: 29.33%;
            margin: 2%;
            padding: 10px;
            vertical-align: top;
            box-shadow: 0px 1px 1px #A2A2A2;
        }

        @media print {
            img {
                box-shadow: none;
            }
        }
    }

    .op-remove {
        display: none;
        position: absolute;
        top: 0;
        right: 100%;
        width: 22px;
        height: 22px;
        line-height: 22px;
        padding: 0 5px;

        text-align: center;
        cursor: pointer;
        font-family: cursive;
        font-size: 12px;

        transition: .5s;

        &:hover {
            font-weight: bold;
        }

        &:active {
            transform: scale(.6);
            transition: .1s ease-in;
        }
    }

    &:hover {
        .op-remove {
            display: block;
        }
    }
}
