/*
 * @file style for project item
 * @author nighca <nighca@live.cn>
 */

.w-project-item {
    position: relative;
    padding: 1.1em 10em 1.1em 0;

    .project-name{
        position: absolute;
        right: 0;
        top: 1.1em;
        width: 10em;
        line-height: 1.8em;

        color: #666;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 1px;
        text-align: right;
    }
}
